.main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:30%;
    border-radius:10px;
    margin:20px auto;
    height:auto;
    background-color: #F8FAFC;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.12);
    padding:20px;
}
.sign{
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
   


}
.sign input{
    border-radius:8px;
    padding:10px 5px;
}

.b{
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    background-color: #2563EB;
    color: white;
    border: none;
    margin-top:10px;
}
.sign input:focus {
    border: 2px solid #2563EB;
    outline: none;
}
