.h{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    gap:10px;
}
.fo{
    display:flex;
    border:1px solid black;
    margin:10px;
    flex-direction:column
}
.f{
    margin-bottom:10px;
    display:flex;
    flex-direction:column;

}
.f input{
     border-radius:8px;
    padding:10px 5px;

}
.job {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.job textarea {
    width: 500px;
    height: 180px;
    padding: 10px;
    border-radius: 8px;
}